{% load staticfiles %}

{% load static %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Cari Mahasiswa </h2>
    </div>
    <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>NPM</th>
              <th>Nama</th>
              <th>Angkatan</th>
              <th>Keahlian</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <th>NPM</th>
              <th>Nama</th>
              <th>Angkatan</th>
              <th>Keahlian</th>
          </tr>
      </tfoot>
  </table>

<script>
  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#example tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      } );

      // DataTable
      var table = $('#example').DataTable();

      // Apply the search
      table.columns().every( function () {
          var that = this;

          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );
  } );
</script>


<style>
  tfoot input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
  }
</style>
