<div class="panel-body">
    <p> Name : {{nama}} </p>
    <p> NPM : {{kode_identitas}} </p>
    <p> Keahlian : Kosong </p>
    <p> Email : {{email}} </p>
    <p> Linked In : {{linkedIn_link}} </p>
</div>