{% load staticfiles %}

{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta name = "viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA Compatible" content="ie=edge">
	  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"> -->
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href= "{% static 'css/css_search.css' %}" />
	  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    	api_key: 81sfxoksypaw9r
    	authorize: true
    	onLoad: onLinkedInLoad
	</script>

  	  <title>
	  	{% block title %}
	  		<!-- title goes here -->
	  	{% endblock %}
	  </title>
	</head>
	<body>
	    <div class="container">
		    <content>
			    	{% block content %}
			                <!-- content goes here -->
					{% endblock %}
			</content>
		</div>
		<footer>
			{% block footer %}
				{% include "partials/footer.html" %}

			{% endblock %}
		</footer>
		<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
		<script src="//code.jquery.com/jquery-1.12.4.js"></script>
		<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<style>
  			label { display: block; }
  			select { width: 200px; }
  		</style>
	</body>
</html>
